@using WebTestSecirity.Models
@model List<UserVM>

@{
    ViewBag.Title = "Home Page";
}
    <h1>Список кориутвачів</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">FirstName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
    
</div>
